<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>English dictionary</title>
</head>
<body>
    <h1>English dictionary</h1>
    <form method="GET" action="/search">
        <input type="text" name="word" placeholder="Enter the word" value="{{ word }}">
        <input type="submit" value="Search" onclick="return ajax_search();">
    </form>
    <p id="result_div"></p>
    {% if searching and not result %}
    <p>No result found.</p>
    {% else %}
    <p>{{ result }}</p>
    {% endif %}
    <div id="demo"></div>
    <input type="button" value="Click me" onclick="loadDoc();">
    <script>
    function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var output_div = document.getElementById("demo");
            output_div.innerHTML = this.responseText;
            // console.log('Here');
        }
      };
      xhttp.open("GET", "/ajax_search", true);
      xhttp.send();
    }
    function ajax_search(){
           // var result_div = document.getElementById("result_div");
           // result_div.innerHTML = 'Hello Pentastagiu!'
           //  return false;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                  var output_div = document.getElementById("result_div");
                 // output_div.innerHTML = this.responseText;
                  console.log('Here');
                  return false;
              }
            };
            xhttp.open("GET", "/search", true);
            xhttp.send();

    }
    </script>
</body>
</html>
